body.dashboard .sidebar-dashboard {
	width: 220px!important
}

body.dashboard .sidebar-dashboard.open+.content-dashboard-wrapper {
	margin-left: 220px;
	width: calc(100% - 440px)
}

body.dashboard .header-dashboard {
	position: fixed
}

.is-dropdown-submenu {
	min-width: 160px
}

body.dashboard .content-dashboard-wrapper {
	width: calc(100% - 220px)
}

body.dashboard .content-dashboard-wrapper .content-dashboard.request-style .page-title {
	margin: 0 .75em .75em .5em
}

body.dashboard .content-dashboard-wrapper .content-dashboard .content-box-dashboard-list .searches-list {
	margin-bottom: 15px;
	padding: 15px 15px;
	font-size: .9rem
}

body.dashboard .content-dashboard-wrapper .content-dashboard .content-box-dashboard-list .searches-list {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .75);
	margin-bottom: 30px;
	padding: 30px 15px;
	position: relative
}

body.dashboard .content-dashboard-wrapper .content-dashboard {
	margin-top: 50px
}

#sidebar-dashboard .profile {
	border-bottom: 1px solid #172530
}

body.dashboard .sidebar-dashboard-right {
	position: fixed;
	width: 220px!important;
	height: 100%;
	top: 50px;
	right: 0;
	border-left: 1px solid rgba(0, 0, 0, .12);
	overflow-y: scroll
}

body.dashboard .sidebar-dashboard-right .sidebar-body {
	padding: 5px 0
}

body.dashboard .sidebar-dashboard-right .sidebar-header {
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 5px 8px 5px;
	border-bottom: 1px solid #c3c3c4;
	margin-bottom: 10px
}

body.dashboard .sidebar-dashboard-right .sidebar-header h3 {
	font-size: 16px;
	margin: 0
}

body.dashboard .sidebar-dashboard-right .sidebar-sub-header {
	text-align: center
}

body.dashboard .sidebar-dashboard-right .sidebar-sub-header button.btn {
	padding: 3px 5px;
	background-color: #b5b3b3;
	border-color: #b5b3b3;
	color: #f2f2f2;
	font-size: 14px;
	display: none
}

body.dashboard .sidebar-dashboard-right .sidebar-sub-header button.btn-active {
	background-color: #ff700a;
	border-color: #ff700a;
	color: #fff;
	display: inline-block
}

.dropdown.menu>li.is-dropdown-submenu-parent>a,
body.dashboard .sidebar-dashboard .dropdown-dashboard-menu .menu a,
ul.menu-dashboard li a {
	font-size: 13px;
	text-transform: capitalize
}

#sidebar-dashboard .profile .user-avatar img {
	max-width: 80%
}

#sidebar-dashboard .profile .text-wrapper {
	width: 100%
}

li.is-dropdown-submenu-parent>a {
	padding: 7px 0!important
}

li.is-dropdown-submenu-parent>a span {
	margin-left: 25px
}

ul.chat-list-notifications,
ul.chat-user-list {
	padding: 0;
	margin: 0
}

ul.chat-list-notificationst li,
ul.chat-user-list li {
	list-style: none;
	text-align: left;
	line-height: 10px
}

ul.chat-list-notifications li a span.chat-user-name,
ul.chat-user-list li a span.chat-user-name {
	border-bottom: 1px solid #e7eaec
}

ul.chat-list-notifications a,
ul.chat-user-list li a {
	color: #838383;
	text-align: left;
	display: inline-block;
	width: 100%;
	font-size: 13px;
	position: relative
}

ul.chat-list-notifications li a:hover,
ul.chat-user-list li a:hover {
	background: #eceff1
}

ul.chat-list-notifications li a div.chat-user-avtar img,
ul.chat-user-list li a div.chat-user-avtar img {
	max-width: 20px;
	margin-right: 5px;
	border-radius: 50%
}

ul.chat-list-notifications li a span>span.chatUnreadCounter>span>span,
ul.chat-user-list li a span>span.chatUnreadCounter>span>span {
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 12px;
	font-size: 12px;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 2px;
	color: #fff;
	padding: 1px 3px;
	display: inline-block;
	background: #1f3241
}

ul.chat-list-notifications li a div.chat-user-avtar,
ul.chat-list-notifications li a div.chat-user-name,
ul.chat-user-list li a div.chat-user-avtar,
ul.chat-user-list li a div.chat-user-name {
	float: left
}

ul.chat-list-notifications li a div.chat-user-avtar,
ul.chat-user-list li a div.chat-user-avtar {
	width: 14%;
	padding: 8px 5px
}

ul.chat-list-notifications li a div.chat-user-name,
ul.chat-user-list li a div.chat-user-name {
	width: 86%;
	border-bottom: 1px solid #e7eaec;
	padding: 14px 0
}

ul.chat-list-notifications li a.no-chat div.chat-user-name,
ul.chat-user-list li a.no-chat div.chat-user-name {
	width: 100%;
	text-align: center;
	border: none
}

ul.chat-list-notifications li a.no-chat:hover,
ul.chat-user-list li a.no-chat:hover {
	background: 0 0;
	cursor: default
}

ul.nav-pills li.chat-menu {
	display: none
}

ul.chat-list-notifications {
	right: -357px!important;
	max-width: 220px!important;
	background-color: #fff!important
}

ul.chat-list-notifications li a div.chat-user-name {
	padding: 9px 0!important
}

ul.chat-list-notifications li:first-child {
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 5px 8px 5px;
	border-bottom: 1px solid #c3c3c4
}

ul.chat-list-notifications li:first-child h3 {
	font-size: 16px;
	margin: 0
}

div#sidebar-dashboard-right::-webkit-scrollbar {
	width: 12px;
	background: 0 0
}

div#sidebar-dashboard-right::-webkit-scrollbar-track {
	border-radius: 10px
}

div#sidebar-dashboard-right::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
}

.tab-section {
	padding: 0;
	min-height: 598px
}

.arrow-steps {
	background: #e0dede
}

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: default;
	padding: 20px 10px 20px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #e0dede;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color .2s ease;
	cursor: pointer
}
.arrow-steps.buyer-steps .step {height: 75px;}
.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 17px solid #e0dede;
	z-index: 2;
	transition: border-color .2s ease
}
.arrow-steps.buyer-steps .step:after,
.arrow-steps.buyer-steps .step:before {
	 
	border-top: 38px solid transparent;
	border-bottom: 38px solid transparent;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;
	z-index: -1
}

.arrow-steps .step:first-child:before {
	border: none
}

.arrow-steps .step:last-child:after {
	border: none
}

.arrow-steps .step:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.arrow-steps .step span {
	position: relative
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #ff700a
}

.arrow-steps .step.current:after {
	border-left: 17.8px solid #ff700a
}
.arrow-steps .step{
	border-bottom: 2px solid transparent;
}
.arrow-steps .step:hover {
	color: #666;
	/*background-color: #ff700a*/
	background-color: transparent;
	border-bottom:2px solid #ff700a;
}

.arrow-steps .step.current:hover {
	background-color: #ff700a
}
.arrow-steps .step.current:hover{color: #fff;}
.arrow-steps .step.current:hover:after {
	border-left: 17px solid #ff700a
}

.arrow-steps .step:hover:after {
	color: #fff;
	/*border-left: 17px solid #ff700a*/
	border-left: 17px solid #e0dede
}

.arrow-steps .step.tab-2 {
	width: calc(100% / 2)!important
}

.arrow-steps .step.tab-4 {
	width: calc(100% / 4)!important
}

.arrow-steps .step.tab-3 {
	width: calc(100% / 3)!important
}

.arrow-steps .step.tab-5 {
	width: calc(100% / 5)!important
}

.arrow-steps .step.tab-6 {
	width: calc(100% / 6)!important
}

.tab-container {
	padding: 20px 0
}

.tab-container .tab-content {
	display: none
}

.tab-container .tab-content.current {
	display: block
}

.car-invite-list {
	background: #fff;
	border-radius: 3px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, .75);
	margin-bottom: 30px;
	padding: 20px 15px;
	position: relative;
	border: none;
	min-height: 155px;
}

.process-overlay {
	width: 100%;
	position: absolute;
	border: none;
	text-align: center;
	left: 0;
	top: -15px;
	padding: 99px 0;
	background: rgba(255, 255, 255, .8);
	display: none
}

.price-label-select-car {
	display: none!important
}

div.car .car-make-and-price {
	margin-top: 0!important
}

.car-offers-box {
	max-width: 400px;
	margin-bottom: 10px!important
}

.commnunication-settings-textarea {
	position: relative;
	max-width: 400px
}

.text-area-char-counter {
	position: absolute;
	top: 0;
	right: 0;
	pointer-events: none;
	font-size: 10px;
	background: #ccc;
	padding: 2px;
	border-radius: 5px
}

div.cars-list .make span.car-dealer {
	font-size: 14px;
	color: #7a7a7a
}

div.cars-list div.dealer-car-offer-check-list-box {
	border: #d9dbdc 1px solid;
	padding: 13px 10px 10px 10px;
	margin-top: 15px;
	position: relative
}

div.cars-list div.dealer-car-offer-check-list-box #title {
	position: absolute;
	top: -.8em;
	margin-left: 1em;
	display: inline;
	background-color: #f7f9fc;
	padding: 0 5px;
	font-size: 14px
}

div.cars-list ul.dealer-car-offer-check-list li {
	display: block
}

div.cars-list ul.dealer-car-offer-check-list li:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f00c";
	padding: 0 10px 0 0;
	color: #ff700a
}

div.cars-list hr {
	margin: 10px
}

body.dashboard .sidebar-dashboard.open {
	height: 100%
}

div.offer-car-list {
	background: #fff;
	border-radius: 3px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, .75);
	margin-bottom: 30px;
	padding: 20px 15px;
	position: relative;
	border: none
}

div.offer-car-list div.car {
	border: none;
	padding: 0;
	margin: 0
}

div.offer-car-list div.car a.accept-offer,
div.offer-car-list div.car a.js-ajaxcall-inited {
	font-size: 14px;
	padding: 5px
}

div.offer-car-list div.dealer-car-offer-check-list-box #title {
	background: #fff!important
}

.rwd-table td.empty-cell:not(.not-expandable):before {
	content: attr(data-th) ""!important
}

ul.chat-notifications li.loadNotification {
	padding: 0
}

ul.chat-notifications li.loadNotification div.notification-avatar img {
	max-width: 30px
}

ul.chat-notifications li.loadNotification div.chat-notification-message {
	font-size: 14px;
	line-height: 26px;
	padding-left: 0;
	border-bottom: 1px solid #dbdddf;
	padding: 5px 0
}

span.invitation-limit-text {
	font-size: 12px
}
.reveal .close-button{
	/*border: 1px solid #ff700a;*/
	border: 1px solid transparent!important;;
    color: #b00020 !important;
    font-size: 22px !important;
}
div.arrow-steps > div.step > span.count_message_invite,
div.arrow-steps > div.step > span.count_message_invited,
div.arrow-steps > div.step > span.count_message_accepted{
	display: block;		
    font-size: 11px;
}
div.buyer-steps >div.step.buyer-view-request span.site-tour-request{
	top: 7px;
}
div.sold_car_offer{
	padding: 75px 0px;
    position: absolute;
    background: rgba(255,255,255,0.8);
    left: 0;
    top: 0;
    height: 100%;
}
img.img-responsive-sold-car{max-width: 200px !important;}
div.sold_car_offer p{
	margin: 0px;
}
.text-red{color:red;}
.sold_car_offer a.no-more-show {
	position: absolute;
    top: 10px;
    right: 10px;
}

@media print,
screen and (min-width:40em) {
	.mar-R-normal {
		margin-right: 0
	}
}

@media(min-width:993px) {
	div.cars-list div.dealer-car-offer-check-list-box {
		width: 80%
	}
}

@media(max-width:993px) {
	body.dashboard .sidebar-dashboard.open+.content-dashboard-wrapper {
		margin-left: 0;
		width: 100%
	}
	body.dashboard .content-dashboard-wrapper {
		width: 100%
	}
	body.dashboard .sidebar-dashboard-right {
		display: none
	}
	.nav .nav-item {
		float: left
	}
	ul.nav-pills li.chat-menu {
		display: block
	}
	ul.nav-pills li.user-notification a span.chat-notifications-count,ul.nav-pills li.chat-menu a span.chat-notifications-count {
		font-size: 12px;
		position: absolute;
		left: 12px;
		top: 20px;
		margin-left: 0!important;
		z-index: 1;
		padding: 0 3px
	}
}

@media(max-width:768px) {
	.arrow-steps .step {
		min-width: auto;
		font-size: 11px;
		padding: 20px 0 20px 10px
	}
	.arrow-steps .step:after,
	.arrow-steps .step:before {
		border-top: 28px solid transparent;
		border-bottom: 28px solid transparent
	}
	div.car .car-make-and-price {
		margin-top: 20px!important
	}
}

@media(max-width:501px) {
	.arrow-steps .step {
		padding: 10px 0 10px 10px
	}
	.arrow-steps.buyer-steps .step:after, .arrow-steps.buyer-steps .step:before {
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
}
	.arrow-steps .step:after,
	.arrow-steps .step:before {
		border-top: 18px solid transparent;
		border-bottom: 18px solid transparent
	}
	.arrow-steps .step.current:after {
		border-left: 12px solid #ff700a;
		right: -11px
	}.arrow-steps.buyer-steps .step.current:last-child:after {
		border-left: 12px solid transparent;
		right: -11px
	}
	.arrow-steps .step:after {
		border-left: 12px solid #e0dede;
		right: -11px
	}
	.arrow-steps .step. span {
		padding-left: 5px
	}
	.tab-content .user-avatar img {
		max-width: 100%
	}
	div.offer-car-list div.car a.accept-offer,
	div.offer-car-list div.car a.js-ajaxcall-inited {
		display: inline;
		font-size: 10px;
		margin: 0
	}
	.offer-accept-reject-icon {
		padding: 0 5px
	}
	div.offer-car-list {
		padding: 20px 5px
	}
	.arrow-steps.buyer-steps .step {height: 53px;}
}

@media(max-width:575px) {
	header.page-title>.row>.col-xs-2 {
		width: 16.66%
	}
	header.page-title>.row>.col-xs-5 {
		width: 41.666667%
	}
	header.page-title>.row>.col-xs-6 {
		width: 50%
	}
	header.page-title>.row>.col-xs-7 {
		width: 58.333333%
	}
	header.page-title>.row>.col-xs-4 {
		width: 33.33%
	}
	header.page-title>.row>.col-xs-3 {
		width: 25%
	}
	header.page-title .title-section {
		text-align: right;
		font-size: 17px
	}
	header.page-title .title-right-btn .btn-invited-count {
		font-size: 11px
	}
	.car-make-and-price .col-sm-6 {
		width: 50%
	}
	div.car ul li+li:before {
		padding: 0 5px
	}
	.price-label-select-car {
		display: inline-block!important;
		font-weight: 400!important;
		color: #7a7a7a!important
	}
	.pagination li {
		font-size: 14px
	}
	.pagination a,
	.pagination button {
		padding: 6px
	}
	div.cars-list .make {
		font-size: 14px!important
	}
	div.cars-list .make>span.car-dealer {
		font-size: 12px!important;
		display: block
	}
	div.cars-list .car-make-and-price .col-sm-7 {
		max-width: 58.3333333333%
	}
	div.cars-list .car-make-and-price .col-sm-5 {
		max-width: 41.6666666667%
	}
	div.cars-list .car-make-and-price .col-xs-8 {
		max-width: 66.6666666667%
	}
	div.cars-list .car-make-and-price .col-xs-4 {
		max-width: 33.3333333333%
	}
	div.cars-list .car-make-and-price .make {
		text-align: left
	}
	div.cars-list .car-make-and-price .make+.text-right,
	div.cars-list .car-make-and-price .make+.text-right>span {
		font-size: 12px
	}
	div.cars-list div.car div.notes {
		font-size: 12px
	}
	div.cars-list div.car .see-details a {
		font-size: 12px
	}
	div.cars-list div.car ul li {
		font-size: 12px
	}
	div.cars-list div.car .special-btn {
		padding: 5px!important
	}
	div.cars-list hr {
		margin: 10px
	}
	ul.chat-notifications li.loadNotification .col-xs-2 {
		max-width: 16.6666666667%
	}
	ul.chat-notifications li.loadNotification .col-xs-10 {
		max-width: 83.3333333333%
	}
	ul.chat-notifications li.loadNotification div.chat-notification-message {
		font-size: 12px;
		line-height: 18px;
		padding-left: 10px
	}
	.chat-notifications-count {
		font-size: 12px
	}
}
@media(max-width:444px) {
	div.sold_car_offer{
		padding: 150px 0px;
	}
}

@media print,
screen and (min-width:40em) {
	.searches-list-with-avatar .avatar-wrapper {
		margin-top: -65px
	}
}

.special-error {
	color: #ff700a; font-weight: bold; background-color: #fff;
}
.sold-car-text{
	position: absolute;
    top: 5px;
    right: 30px;
}
.chat-tab ul.nav-tabs{
	margin: 0;
	border: none;
}
.chat-tab ul.nav-tabs li{
	width: 50%;
}
.chat-tab ul.nav-tabs li a{
	font-size: 12px;
    text-align: center;
    border:none;
    border-bottom: 2px solid #dee2e6;
}
.chat-tab ul.nav-tabs li a.active{
	background: transparent;
	border:none;
	border-bottom: 2px solid #ff700a;
}
.chat-tab ul.nav-tabs li a:hover{
	border:none;
	border-bottom: 2px solid #ff700a;
}
 