.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menubar {
  color: white;
  /* background-color: #2a3c46; */
  background-color: transparent !important;
}
.menulist {
  font-size: 12px;
  color: #ffffff;
}
.sign-in-register {
  font-size: 12px;
  padding: 1em;
  color: white;
  border: 1px solid white;
}
.blog {
  border: 1px solid white;
}
.submenu {
  color: white;
}
.home {
  background-image: url(./images/banner-bg.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-home {
  background-color: #f8f8f8;
}
.back {
  width: 100%;
}
.banner {
  text-align: center;
  padding-top: 30px;

  margin-top: 50px;
}
.ban-right {
  font-family: sans-serif;
  margin-bottom: 30px;
  background-color: #35444e;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 45px;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 30px;
}
.subtitle {
  text-align: left;
  color: #ff700a;
  font-size: 17px;
  font-weight: 600;
}
.you-tube {
  padding-top: 50px;
  text-align: left;
}
.video {
  display: none;
}
.car-search-title {
  text-align: left;
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 768px) {
  .car-search-title {
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }
}
.car-search {
  width: 200px;
  height: 50px;
  border-radius: 0px;
}
.dropdown {
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdownn {
  margin-top: 50px;
}
.indicate {
  margin-top: 50px;
  color: white;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .indicate {
    text-align: center;
    margin-top: 50px;
    color: white;
    text-align: center;
  }
}
.get-started {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px !important;
  background-color: #ff700a !important;
  font-weight: 700 !important;
}
.get-start {
  margin-top: 50px;
}
.deff-title {
  margin-top: 50px;
  text-align: center;
}
.deff-subtitle {
  color: gray;
}
.icon {
  margin-top: 50px;
}
.work {
  height: 920px;
  background-color: #f8f8f8;
}
.work-title {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #1e1e1e;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
}
.panel {
  margin-top: 20px;
}
.working {
  padding: 10px;
  margin-left: 80px !important;
  background-color: white;
  width: 55%;
}
@media screen and (max-width: 768px) {
  .working {
    padding: 10px;
    font-size: 12px;
    background-color: white;
  }
}
@media screen and (max-width: 320px) {
  .working-connect {
    padding: 20px;
    float: right !important;
    margin-top: 30px;

    background-color: white;
  }
  .work-title {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #1e1e1e;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;

    text-align: center;
  }
  .working {
    padding: 10px;
    font-size: 12px;
    background-color: white;
  }
}
.working-per {
}
@media screen and (max-width: 1024px) {
  .working {
    padding: 10px;
    font-size: 12px;
    background-color: white;
  }
  .work {
    height: 1100px;
    background-color: #f8f8f8;
  }
}
@media screen and (max-width: 768px) {
  .working {
    padding: 10px;
    font-size: 12px;
    background-color: white;
  }
  .work {
    height: 1200px;
    background-color: #f8f8f8;
  }
}
@media screen and (max-width: 425px) {
  .working {
    float: right;
    margin-left: 50px !important;
    padding: 10px;
    font-size: 12px;
    background-color: white;
  }
  .work {
    height: 1600px;
    background-color: #f8f8f8;
  }
}
@media screen and (max-width: 375px) {
  .working {
    padding: 10px;
    font-size: 12px;
    background-color: white;
  }
  .work {
    height: 1700px;
    background-color: #f8f8f8;
  }
}

@media screen and (max-width: 320px) {
  .working-info {
    padding: 10px;

    margin-top: 30px;

    background-color: red;
  }
  .working {
    padding: 10px;
    font-size: 12px;
    background-color: white;
  }
  .work {
    height: 1900px;
    background-color: #f8f8f8;
  }
}

.working-info {
  padding: 10px;
  float: right;
  margin-top: 30px;
  margin-right: 130px !important;
  background-color: white;
  width: 60%;
}
.working-off {
  margin-top: 30px;
  padding: 20px;
  float: left;
  margin-left: 90px !important;
  background-color: white;
  width: 55%;
}
.working-connect {
  padding: 20px;
  float: right;
  margin-top: 30px;
  margin-right: 180px !important;
  background-color: white;
  width: 55%;
}

@media screen and (max-width: 320px) {
  .reverse {
    order: 2;
  }
  .menubar {
    background-color: white;
  }
  .working {
    padding: 20px;

    margin-top: 30px;
    margin-right: 50px !important;
    background-color: white;
    width: 60%;
  }
  .working-connect {
    padding: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 40px !important;
    background-color: white;
    width: 70%;
  }
  .working-info {
    padding: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 50px !important;
    background-color: white;
    width: 60%;
  }
  .working-off {
    margin-top: 30px;
    padding: 20px;

    margin-left: 65px !important;
    background-color: white;
    width: 60%;
  }
}
@media screen and (max-width: 375px) {
  .working {
    padding: 20px;

    margin-top: 30px;
    margin-right: 80px !important;
    background-color: white;
    width: 60%;
  }
  .working-connect {
    padding: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 60px !important;
    background-color: white;
    width: 70%;
  }
  .working-info {
    padding: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 80px !important;
    background-color: white;
    width: 60%;
  }
  .working-off {
    margin-top: 30px;
    padding: 20px;

    margin-left: 60px !important;
    background-color: white;
    width: 60%;
  }
}

.login-reg {
  padding-top: 50px;
  background-color: #f8f8f8;
}
.register {
  height: 500px;
  background-image: url(./images/home-buyers-bg.jpg);
}
.login {
  height: 500px;
  background-image: url(./images/home-sellers-bg.jpg);
}
.dealer-title {
  font-family: sans-serif;
  letter-spacing: 0.3em;
  padding-top: 50px;
  font-size: 54px;
  font-weight: 400;

  color: white;
}
.input {
  background: transparent !important;
  border: none;
  margin-top: 40px;
}
.signin {
  width: 50%;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 0px !important;
  margin-bottom: 20px;
  background-color: #ff700a !important;
}
.forget {
  margin-top: 30px;
  color: white;
  text-decoration: underline;
}
.contact {
  background-color: #f8f8f8;
}
.contact-form {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #f8f8f8;
}
.contact-us {
  margin-top: 50px;
  color: black;
  font-weight: bold;
  font-size: 34px;
  font-family: Helvetica;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.form {
  width: 95vw;
}
.footer {
  width: 100vw;
  background-color: #232323;
}
.map {
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-top: 50px;
}
.foot-sub-title {
  font-size: 15px;
  color: white;
}
.send-message {
  margin-top: 20px;
  font-size: 13px !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 0px !important;
  margin-bottom: 60px;
  background-color: #ff700a !important;
}
.social {
  margin-left: 5px;
}
.copy-right {
  color: white;
  font-size: 14px;
}
.footer-menu {
  color: white;
  text-align: center;
}
.question {
  color: white;
  text-decoration: underline;
}
.question:hover {
  color: white;
}
.message {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #ff700a !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messages {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 50px;
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #ff700a !important;
}
.reg-message {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
input.reg-message::placeholder {
  color: white;
  opacity: 1;
}
.control {
  font-size: 17px;
  font-weight: 700;
  color: #1e1e1e;
  margin-top: 30px;
  margin-bottom: 20px;
}
.description {
  margin-bottom: 17px;
  font-size: 13px;
  color: #4a4a4a;
}
/* ------------------------------------------- */
.work-title {
  color: #1e1e1e;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 4px;
  margin: 0;
  text-align: center !important;

  text-transform: capitalize;
}
.main-work {
  background-color: #f8f8f8;
}
.work-left {
  padding-top: 10px;
  background-color: white;
}
.work-right {
  padding-top: 20px;
  background-color: white;
}
.work-row {
  margin-bottom: 15px;
}
.work-left1 {
  padding-top: 10px;
  background-color: white;
}
.work-right1 {
  padding-top: 10px;
  background-color: white;
}
.work-subtitle {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #1e1e1e;
}
.content {
  font-size: 16px;
}
.panel2 {
  margin-top: 5px;
}
.work-left3 {
  padding-top: 20px;
  background-color: white;
}
.work-right3 {
  padding-top: 20px;
  background-color: white;
}

.worked {
  padding-bottom: 30px;
  background-color: #f8f8f8;
}
@media screen and (max-width: 425px) {
  .main-work {
    padding: 50px;
    background-color: #f8f8f8;
  }
}

@media screen and (max-width: 767px) {
  .menubar {
    background-color: #f8f8f8 !important;
  }
  .logo-ad {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work-right {
    order: -1;
    padding-top: 20px;
    background-color: white;
  }
  .work-right3 {
    order: -1;
    padding-top: 20px;
    background-color: white;
  }
}
